VITE_USER_API=http://localhost/api/user
VITE_LISTING_API=http://localhost/api/listing
VITE_SEARCH_API=http://localhost/api/search
VITE_BOOKING_API=http://localhost/api/booking
VITE_PAYMENT_API=http://localhost/api/payment