PORT=4002
DATABASE_URL=postgres://airbnb:airbnb@localhost:5432/listing_db
JWT_SECRET=dev-super-secret-change-me
RABBITMQ_URL=amqp://guest:guest@localhost:5672
REDIS_URL=redis://localhost:6379
USER_SERVICE_URL=http://localhost:4001
